{% extends "base.html" %}

{% block content %}

{% if watchedlist|length > 0 %}
  <h2>My Watched List</h2>
  
    {% for movie in watchedlist: %}
    <li>{{ movie }}
      <form action="/rating-confirmation" method="POST" style="display:inline;">
        <select name="rating">
            <option value="How was it?">How was it?</option>
            <option value="*">*</option>
            <option value="**">**</option>
            <option value="***">***</option>
        </select>
        <input type="hidden" name="movie" value="{{movie}}">
      <input type="submit" value="Rate It!" ></submit>
      </form>
    </li>
    {% endfor %}
</select>
{% endif %}



{% endblock %}
